body {
  background: #fff;
  background-attachment: fixed;
  background-image: url('');
  background-size: contain;
  color: #061623;
  font-family: 'PT Sans Caption', sans-serif;
  line-height: 1.5em;
}
.wrapper {
  background-color: white;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 24px;
}
header {
  align-items: center;
  background-image: url('../img/nocco-liiga_cropped.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  grid-area: header;
  margin-top: 48px;
  padding-top: 44%;
  position: relative;
  width: 100%;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
  padding-top: 0.5em;
}
main {
  grid-area: main;
}
.right-sidebar {
  grid-area: right;
}
footer {
  align-items: center;
  background: #061623;
  color: #fff;
  display: flex;
  grid-area: footer;
  justify-content: flex-end;
  margin: 0 -24px;
  padding: 16px 24px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    'header header header header header header header header'
    'main main main main main right right right'
    'footer footer footer footer footer footer footer footer';
  grid-gap: 24px;
}
.game-table {
  border-collapse: collapse;
  font-size: 1em;
  width: 100%;
}
.game-table tbody {
  border: #061623 5px solid;
  padding: 24px;
}
.game-table tr td {
  padding: 16px;
  width: 25%;
  text-align: center;
}
.game-table tr td.mt-date {
  background: #f7e946;
  color: #000;
  width: 25%;
}
.game-table.doubles tr td.mt-date {
  background: #0087C9;
  color: #000;
}
.game-table tr td.mt-score {
  font-size: 1.15em;
}
.game-table.doubles tr td {
  padding: 8px;
}
.standings-leader {
  background: linear-gradient(#061623, #0D2E5A);
  border: #061623 5px solid;
  border-bottom: 0;
  box-sizing: border-box;
  height: 160px;
  padding: 8px 0 0 0px;
  position: relative;
  width: 100%;
}
.standings-leader .sl-content {
  height: 100%;
  position: relative;
}
.standings-leader .sl-img {
  height: 100%;
  position: relative;
  z-index: 150;
}
.standings-leader .sl-logo {
  left: 60px;
  position: absolute;
  top: 12px;
  z-index: 50;
}
.standings-leader .sl-statistics {
  color: #fff;
  left: 204px;
  position: absolute;
  top: 12px;
  z-index: 200;
}
.standings-leader .sl-statistics span.sl-name {
  font-size: 1.15em;
  font-weight: bold;
}
.standings-leader .sl-statistics span {
  display: block;
}
.standings-leader span.sl-number {
  color: #fff;
  font-size: 1.75em;
  font-weight: bold;
  left: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.standings-table {
  border-collapse: collapse;
  width: 100%;
}
.standings-table tr {
  border: #061623 5px solid;
}
.standings-table th,
.standings-table td {
  color: #fff;
  padding: 8px;
}
.standings-table tr:nth-child(even) {
  background-color: #103665;
}
.standings-table tr:nth-child(odd) {
  background-color: #061623;
}
.standings-table th {
  text-align: left;
}
input {
  width: 100%;
}
input[type=text],
input[type=date] {
  border:#061623 3px solid;
  box-sizing: border-box;
  margin: 4px 0 16px;
  padding: 12px 16px;
  width: 100%;
}
select {
  background-color: #eeeeee;
  border:#061623 3px solid;
  margin: 8px 0;
  padding: 12px 16px;
  width: 100%;
}
input[type=button], 
input[type=submit], 
input[type=reset] {
  background-color: #061623;
  border: none;
  color: white;
  cursor: pointer;
  margin: 4px 2px;
  padding: 16px 32px;
  text-decoration: none;
}
label {
  font-weight: bold;
}
@media only screen and (max-width: 840px) and (min-width: 720px) {
  .standings-leader .sl-statistics {
    left: 24px;
  }
}
@media only screen and (max-width: 720px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'header header header header'
      'main main main main'
      'right right right right'
      'footer footer footer footer';
    grid-gap: 16px;
  }
  .wrapper {
    padding: 0 16px;
  }
  header {
    padding-top: 56.6%;
  }
  footer {
    margin: 0 -16px;
    padding: 16px;
  }
}