body {
  background: #EBECF2;
  background-attachment: fixed;
  background-image: url('');
  background-size: contain;
  color: #010326;
  font-family: 'PT Sans Caption', sans-serif;
  line-height: 1.5em;
}
.wrapper {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 48px;
}
header {
  align-items: center;
  background-image: url('../img/nocco-liiga_cropped.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  grid-area: header;
  margin-top: 50.56px;
  padding-top: 42.86%;
  position: relative;
  width: 100%;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
  padding-top: 0.5em;
}
h4 {
  font-size: 1.25em;
  margin: 0.5em 0 0.5em;
}
.sr-only {
  height: 1px;
  left:-10000px;
  overflow:hidden;
  position:absolute;
  top: auto;
  width: 1px;
}
main {
  grid-area: main;
}
.right-sidebar {
  grid-area: right;
}
footer {
  align-items: center;
  background: #010326;
  color: #ffffff;
  display: flex;
  grid-area: footer;
  justify-content: center;
  margin: 50.56px -48px 0;
  padding: 0px 53px;
}
footer img {
  margin: 16px;
}
footer span,
footer p {
  margin: 16px 0; 
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas:
    'header header header header header header header header'
    'main main main main main right right right'
    'footer footer footer footer footer footer footer footer';
  grid-gap: 24px;
}
.game-table {
  border-collapse: collapse;
  border: #010326 5px solid;
  font-size: 1em;
  width: 100%;
}
.game-table thead {
  background: #010326;
  color: #ffffff;
}
.game-table thead th {
  padding: 8px 0;
}
.game-table tbody {
  padding: 24px;
}
.game-table tr td {
  padding: 16px;
  width: 25%;
  text-align: center;
}
.game-table tr td.mt-date {
  color: #010326;
  width: 25%;
}
.game-table tr td.mt-score {
  font-size: 1.15em;
}
.game-table.singles tr:nth-child(even),
.game-table.doubles tbody:nth-child(odd) {
  background-color: #EBECF2;
}
.game-table.singles tr:nth-child(even) td.mt-date,
.game-table.doubles tbody:nth-child(odd) td.mt-date {
  background: #F2C53D;
}
.game-table.singles tr:nth-child(odd) td.mt-date,
.game-table.doubles tbody:nth-child(even) td.mt-date {
  background:#F2D649;
}
.game-table.doubles tbody:nth-child(odd) {
  padding: 24px;
}
.game-table.doubles tr td {
  padding: 2px;
}
.game-table.doubles tr td.mt-top-data {
  padding-top: 16px;
}
.game-table.doubles tr td.mt-bottom-data {
  padding-bottom: 16px;
}
.standings-leader {
  background: linear-gradient(#010326, #091973);
  border: #010326 5px solid;
  border-bottom: 0;
  box-sizing: border-box;
  height: 160px;
  padding: 8px 0 0 0px;
  position: relative;
  width: 100%;
}
.standings-leader .sl-content {
  height: 100%;
  position: relative;
}
.standings-leader .sl-img {
  height: 100%;
  position: relative;
  z-index: 150;
}
.standings-leader .sl-logo {
  left: 60px;
  position: absolute;
  top: 12px;
  z-index: 50;
}
.standings-leader .sl-statistics {
  color: #ffffff;
  left: 204px;
  position: absolute;
  top: 12px;
  z-index: 200;
}
.standings-leader .sl-statistics span.sl-name {
  font-size: 1.15em;
  font-weight: bold;
}
.standings-leader .sl-statistics span {
  display: block;
}
.standings-leader span.sl-number {
  color: #ffffff;
  font-size: 1.75em;
  font-weight: bold;
  left: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.standings-table {
  border-collapse: collapse;
  width: 100%;
}
.standings-table tr {
  border: #010326 5px solid;
}
.standings-table th,
.standings-table td {
  color: #ffffff;
  padding: 8px;
}
.standings-table tr:nth-child(even) {
  background-color: #091973;
}
.standings-table tr:nth-child(odd) {
  background-color: #010326;
}
.standings-table th {
  text-align: left;
}
input {
  width: 100%;
}
input[type=text],
input[type=date],
select {
  border:#010326 3px solid;
  box-sizing: border-box;
  margin: 4px 0 16px;
  padding: 12px 16px;
  width: 100%;
}
select {
  background-color: #EBECF2;
}
input[type=button], 
input[type=submit], 
input[type=reset] {
  background-color: #010326;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin: 4px 2px;
  padding: 16px 32px;
  text-decoration: none;
}
label {
  font-weight: bold;
}
@media only screen and (max-width: 840px) and (min-width: 720px) {
  .standings-leader .sl-statistics {
    left: 24px;
  }
}
@media only screen and (max-width: 720px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'header header header header'
      'main main main main'
      'right right right right'
      'footer footer footer footer';
    grid-gap: 16px;
  }
  .wrapper {
    padding: 0 16px;
  }
  header {
    padding-top: 75%;
  }
  footer {
    flex-direction: column;
    justify-content: center;
    margin: 50.56px -16px 0;
    padding: 16px;
  }
}